body {
    background-color: #111;
    color: white;
    text-align: center;
}
div.board {
}
button {
    background-color: #444;
    color: white;
    border: 0px;
    margin: 2px;
    font-weight: bold;
    font-size: 18pt;
    height: 50px;
    width: 50px;
    vertical-align: moddle;
    text-align: center;
}
button.ctl {
    font-weight: normal;
    font-size: 12pt;
    height: 50px;
    width: 100px;
    vertical-align: moddle;
    text-align: center;
}
div.msg {
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
}
a {
    color: white;
}
span {
    font-size: 16pt;
    font-weight: bold;
    color: white;
}
h1 {
    font-family: 'Georgia';
}
